<h1>{{ subject }}</h1>

{% for item in form %}
{% if item.getName not in params.skip_fields %}
<p>
<strong>{{ item.getName|trans({}, params.translation_domain, params.locale) }}:</strong>
<br />{{ item.data() }}
</p>
{% endif %}
{% endfor %}
